{% extends 'base.html' %}

{% block content %}
    <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Appointments</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">List of appointments</li>
                        </ol>
                        <!--List-->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Hour</th>
                                                <th>Cause</th>
                                                <th>Description</th>
                                                <th>Customer</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                    <tfoot>
                                            <tr>
                                                <th>Date</th>
                                                <th>Hour</th>
                                                <th>Cause</th>
                                                <th>Description</th>
                                                <th>Customer</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                    <tbody>
                                            {% for appointment in appointmentList %}
                                                <tr>
                                                    <td>{{ appointment["date"] }}</td>
                                                    <td>{{ appointment["hour"] }}</td>
                                                    <td>{{ appointment["cause"] }}</td>
                                                    <td>{{ appointment["description"] }}</td>
                                                    <td>{{ appointment["customer"] }}</td>
                                                    <td><a href="./updateAppointment?_id={{ appointment['_id'] }}"><button type="button" class="btn btn-primary">Edit</button></a>&nbsp
                                                    <a href="./removeAppointment?_id={{ appointment['_id'] }}"><button type="button" class="btn btn-danger">Delete</button></a>
                                                    </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Demo content</div>
                        </div>
                    </div>
                </footer>
            </div>
{% endblock content %}