{% extends 'base.html' %}

{% block content %}
    <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Welcome</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Welcome to Veterinary dashboard</li>
                        </ol>
                        <!--ROWS-->
                        <div class="card">
                            <div class="card-body">
                                Welcome to Veterinaty CMS, you are able to insert your customers, edit already existing ones. Also you have the opportunity to handle appointments based on their needs.
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Demo content</div>
                        </div>
                    </div>
                </footer>
            </div>
{% endblock content %}